<div id="head-wrap">

	<div class="container_12">
		
		<div id="eyebrow-wrap">
			
			<div id="eyebrow-logo" class="eyebrowitem"><a class="logo" href="http://www.rackspace.com"></a></div>
			
			<div id="eyebrow-hosting" class="eyebrowitem"><a href="http://developer.rackspace.com/">Developer Center</a></div>
			<div id="eyebrow-hosting" class="eyebrowitem"><a href="https://community.rackspace.com/developers/default">Developer Community</a></div>
			<div id="eyebrow-hosting" class="eyebrowitem"><a href="http://launch.rackspace.com">Launch Guide</a></div>	
			<div id="eyebrow-hosting" class="eyebrowitem"><a href="http://www.rackspace.com/events/">Events</a></div>
			
			<div id="pocket-wrap">
				<div id="eyebrow-signup" class="pocketitem">
					<a href="https://cart.rackspace.com/cloud/" class="pocketbutton">Sign Up</a></div>
					
				<div id="eyebrow-customerlogin" class="pocketitem">
					<div class="pocketbutton dropdown">Log In
						<ul>
						<li><a href="https://my.rackspace.com/">MyRackspace Portal</a></li>
						<li><a href="https://mycloud.rackspace.com">Cloud Control Panel<span class="new">New</span></a></li>
						<li><a href="https://manage.rackspacecloud.com">Cloud Control Panel - First Gen</a></li>
						<li><a href="https://apps.rackspace.com">Rackspace Webmail Login</a></li>
						</ul>
					</div>
				</div>
			</div>
			
		</div>
		
	</div>
	
</div>
<br />